.ln-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0 48px;
    text-align: center
}

.ln-content .is-small-text {
    font-size: 12px;
    line-height: 14px
}

.ln-content-hamster {
    display: none;
    position: relative;
    width: 100%;
    z-index: -1
}

@media (min-width: 1440px) {
    .ln-content-hamster {
        display: block
    }
}

.ln-content-hamster-image {
    height: 200px;
    position: absolute;
    width: 200px;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.ln-content-hamster-image img,
.ln-content-hamster-image picture {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%
}

.ln-content-hamster-image:before {
    background: linear-gradient(180deg, #13111c00 .24%, #13111c0f 26.21%, #13111c 50.19%);
    bottom: 0;
    content: "";
    display: block;
    height: 75%;
    left: 0;
    position: absolute;
    width: 100%
}

.ln-content-hamster-image.is-1 {
    left: 20px
}

.ln-content-hamster-image.is-2 {
    left: 120px;
    top: 200px
}

.ln-content-hamster-image.is-3 {
    right: 20px
}

.ln-content-hamster-image.is-4 {
    right: 120px;
    top: 200px
}

.ln-content-exchanges {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 12px
}

@media (min-width: 768px) {
    .ln-content-exchanges {
        margin-bottom: 20px
    }
}

.ln-content-exchange {
    align-items: center;
    background: #2a2832;
    border: 3px solid #13111c;
    border-radius: 50%;
    display: flex;
    height: 54px;
    justify-content: center;
    margin-left: -24px;
    padding: 10px;
    width: 54px
}

@media (min-width: 1024px) {
    .ln-content-exchange {
        border: 5px solid #13111c;
        height: 64px;
        width: 64px
    }
}

.ln-content-exchange:first-child {
    margin-left: 0
}

.ln-content h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 12px
}

@media (min-width: 768px) {
    .ln-content h1 {
        font-size: 60px;
        line-height: 64px;
        margin-bottom: 20px
    }
}

@media (min-width: 1024px) {
    .ln-content h1 {
        font-size: 80px;
        font-weight: 700;
        line-height: 84px;
        margin-bottom: 20px
    }
}

.ln-content p {
    color: #fffc;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px
}

.ln-content p:last-child {
    margin-bottom: 0
}

.ln-content p.is-hidden-mobile {
    display: none
}

@media (min-width: 768px) {
    .ln-content p.is-hidden-mobile {
        display: block
    }
}

@media (min-width: 1024px) {
    .ln-content p {
        font-size: 24px;
        line-height: 40px
    }
}

.ln-content-button {
    width: 100%;
}

.ln-content .button {
    background: linear-gradient(90deg, #2253ff 1.46%, #1744e1 99.81%);
    border: 1px solid #fff;
    border-radius: 71px;
    box-shadow: 0 2px 72.7px #0f2368bd;
    color: #fff;
    display: inline-flex;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    height: 80px;
    margin-top: 36px;
    max-width: 471px;
    position: relative;
    z-index: 3
}

@media (min-width: 768px) {
    .ln-content .button {
        margin-top: 72px;
    }
}

.ln-content .button span {
    position: relativa;
    z-index: 3
}

.ln-content .button:hover:after {
    filter: blur(40px)
}

.ln-content .button:before {
    background: linear-gradient(90deg, #2253ff 1.46%, #3a66ff00 50.8%, #2253ff 99.81%);
    border: 2px solid #2252fd;
    border-radius: 71px;
    height: calc(100% + 32px);
    width: calc(100% + 32px);
    z-index: 2
}

.ln-content .button:after,
.ln-content .button:before {
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.ln-content .button:after {
    background: linear-gradient(90deg, #2253ff 1.46%, #3a66ff82 50.8%, #2253ff 99.81%);
    border-radius: 71px;
    filter: blur(20px);
    height: calc(100% + 50px);
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    width: calc(100% + 50px);
    z-index: 1
}

@media (min-width: 768px) {
    .ln-content .button:after {
        filter: blur(26px)
    }
}

.ln-bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media (min-width: 768px) {
    .ln-bottom {
        padding-bottom: 32px
    }
}


.exchange-list {
    list-style: none
}

.exchange-list li {
    align-items: center;
    background-color: #272a2f;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 12px 16px
}

.exchange-list li:last-child {
    margin-bottom: 0
}

.exchange-list li.is-disabled {
    cursor: not-allowed;
    opacity: .5
}

.exchange-list-image {
    align-items: center;
    display: flex;
    height: 46px;
    justify-content: center;
    margin-right: 16px;
    width: 46px
}

.exchange-list-image img {
    max-height: 40px;
    max-width: 40px
}

.exchange-list-content {
    flex: 1 1 auto
}

.exchange-list-content p {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 6px
}

.exchange-list-content p:last-child {
    margin-bottom: 0
}

.exchange-list-content span {
    color: #8b8e93;
    display: block;
    font-size: 14px;
    line-height: 1
}

.exchange-list-bonus {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    justify-content: flex-end
}

.exchange-list-bonus p {
    margin-left: 6px
}

.exchange-image {
    overflow: hidden
}

.exchange-image.is-bingx {
    border-radius: 10px
}

.exchange-image.is-bingx.is-border-6 {
    border-radius: 6px
}

.exchange-image img,
.exchange-image svg {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%
}