.ln-inner,
.ln-top {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: -webkit-fill-available;
    min-height: 100vh;
    position: relative;
    width: 100%
}